<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>ログイン</title>
	</head>
	<body>
		<div class="oldfashioned-wrapper">
			
			<!-- ヘッダー -->
			<div th:replace="~{fragment :: header}"></div> 
			
			<main>
				<div class="container oldfashioned-container">
					<div class="row justify-content-center">
						<div class="col">
							
							<div th:if="${param.loggedOut}" class="alert alert-danger">
								ログアウトしました。
							</div>
							
							<div th:if="${successMessage}" class="alert alert-info">
								<span th:text="${successMessage}"></span>
							</div>
							
							<div th:if="${errorMessage}" class="alert alert-danger">
								<span th:text="${errorMessage}"></span>
							</div>
							
							<div th:if="${param.error}" class="alert alert-danger">
								メールアドレスまたはパスワードが正しくありません
							</div>
							
							<h1 class="text-center mb-4">ログイン</h1>
							
							<form th:action="@{/login}" method="post">
								<div class="form-group mb-3">
									<input type="text" class="form-control" name="username" autocomplete="email" placeholder="メールアドレス" autofocus>
								</div>
								<div class="form-group mb-3">
									<input type="password" class="form-control" name="password" autocomplete="new-password" placeholder="パスワード"> 
								</div>
								
								<div class="form-group d-flex justify-content-center my-4">
									<button type="submit" class="btn text-white shadow-sm w-100 oldfashioned-btn">ログイン</button>
								</div>
							</form>
							
							<div class="text-center">
								<a th:href="@{/signup}">
									新規会員登録
								</a>
							</div>
							
							<div class="text-center">
								<a th:href="@{/forget}">パスワードをお忘れの方はこちら</a>
							</div>
						</div>
					</div>
				</div>
			</main>
			
			<!-- フッター　-->
			<div th:replace="~{fragment :: footer}"></div>
		</div>
		
		<div th:replace="~{fragment :: scripts}"></div>
	</body>
</html>