<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
    <head>
        <div th:replace="~{fragment :: meta}"></div>   
             
        <div th:replace="~{fragment :: styles}"></div>
          
        <title>登録済みのメール入力</title>   
    </head>
	<body>
		<div class="oldfashioned-wrapper">
			
			<!-- ヘッダー -->
			<div th:replace="~{fragment :: header}"></div>
			
			<main>
				<div class="container oldfashioned-container">
					<div class="row justify-content-center">
						<div clas="col">
							
							<div th:if="${successMessage}" class="alert alert-info">
								<span th:text="${successMessage}"></span>
							</div>
							
							<div th:if="${errorMessage}" class="alert alert-danger">
								<span th:text="${errorMessage}"></span>
							</div>
							
							<h1 class="text-center">メールアドレス確認</h1>
							
							<form th:action="@{/reset}" method="post">
								<div class="form-group mb-3">
									<input type="text" class="form-control" name="email" autocomplete="email" placeholder="登録済みのメールアドレスを入力してください" autofocus>								
								</div>
								<div class="form-group d-flex justify-content-center my-4">
									<button type="submit" class="btn text-white shadow-sm w-100 oldfashioned-btn">送信</button>
								</div>
								
							</form>
						</div>
					</div>
				</div>
			</main>
			
			<!-- フッター -->
			<div th:replace="~{fragment :: footer}"></div>
		</div>
		
		<div th:replace="~{fragment :: scripts}"></div>
	</body>
</html>