<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">
	<head>
    	<div th:replace="~{fragment :: meta}"></div>
    	<div th:replace="~{fragment :: styles}"></div>
    	<title>マップ検索</title>
	</head>
	<body class="home">
	    <div class="oldfashioned-wrapper">
			
			<!-- ヘッダー -->
	        <div th:replace="~{fragment :: header}"></div>
			<div id="menubar">
				<div class="container oldfashioned-container">
					<nav>
						<ul class="d-flex justify-content-end">
							<li><a th:href="@{/}">HOME</a></li>
							<li><a th:href="@{/search/store}">STORE</a></li>
							<li><a th:href="@{/search/user}">USER</a></li>
						</ul>
					</nav>
				</div>
			</div>
	        <main>
	            <div class="container oldfashined-container">
	                <div class="row justify-content-center">
	                    <div class="col">
							
							<form method="get" th:action="@{/search/store}" class="mb-3 ">
								<div class="input-group top">
									<input type="text" class="form-controle" name="keyword" th:value="${keyword}" placeholder="店舗名">
									<button type="submit" class="btn text-white shadow-sm oldfashioned-btn">検索</button>
								</div>
							</form>
							
	                      	<table class="ta1">
								<div th:each="store : ${storePage}">
									<tr>
										<th>
											<a class="d-flex justify-content-center" th:href="@{/posts/storePage/__${store.getId()}__}" th:text="${store.getName()}"></a>
										</th>
										<td th:utext="${store.getAddress()}"></td>
									</tr>
								</div>
							</table>
							
							<div th:if="${storePage.getTotalPages() > 1}" class="d-flex justify-content-center">
								<nav aria-label="店舗一覧">
									<ul class="pagination">
										<li class="page-item">
											<span th:if="${storePage.isFirst()}" class="page-link disabled">前</span>
											<a th:unless="${storePage.isFirst()}" th:href="@{/search/store(page = ${storePage.getNumber() -1})}" class="page-link oldfashioned-page-link">前</a>
										</li>
										<li th:each="i : ${#numbers.sequence(0, storePage.getTotalPages() -1)}" class="page-item">
											<span th:if="${i == storePage.getNumber()}" class="page-link active oldfashioned-active" th:text="${i + 1}"></span>
											<a th:unless="${i == storePage.getNumber()}" th:href="@{/search/store(page = ${i})}" class="page-link oldfashioned-page-link" th:text="${i + 1}"></a>
										</li>
										<li class="page-item">
											<span th:if="${storePage.isLast()}" class="page-link disabled">次</span>
											<a th:unless="${storePage.isLast()}" th:href="@{/search/store(page = ${storePage.getNumber() + 1})}" class="page-link oldfashioned-page-link">次</a>
										</li>
									</ul>
								</nav>
							</div> 
							
	                        <!-- マップ -->
							<h2>MAP</h2>

	                        <div id="map"></div>
							
	                    </div>
	                </div>
	            </div>
				<div class="slide-bottom"></div>
	        </main>
			
			<!-- フッター -->
	        <div th:replace="~{fragment :: footer}"></div>
	    </div>
	    <div th:replace="~{fragment :: scripts}"></div>
		
		<!-- GoogleMapの表示設定 -->
		<script type="text/javascript" th:inline="javascript">
			/*<![CDTA[*/
			
			// APIキーとMAPIdを取得する
			var apiKey = /*[[${apiKey}]]*/'[]';
			var mapId = /*[[${mapId}]]*/'[]';
			
			// MAPs JavaScript APIの読み込み
			(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
			    key: apiKey,
			    v: "week",
			});
			
			let map;
			
			// 地図の描画
			async function initMap() {
				const { Map } = await google.maps.importLibrary("maps");
				const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
			
				// ブラウザがGeolocation APIをサポートしているかどうかを確認する
			    if (navigator.geolocation) {
			        navigator.geolocation.getCurrentPosition(showPosition);
			    } else {
			        alert("Geolocation is not supported by this browser.");
			    }
				
				//現在地の緯度経度を取得
				function showPosition(position) {
				    let coordinate = {
				        lat: position.coords.latitude,
				        lng: position.coords.longitude
				    };
					
					
				//地図の描画
				map = new Map(document.getElementById("map"), {
			    center: coordinate,
			    zoom: 8,
			    mapId: mapId,
			 	});
				
				// 店舗情報を取得
				var stores = /*[[${store}]]*/ '[]';
				stores = /*[[${store}]]*/ [];
			 	
			 	stores.forEach(function(store) {
					
					// 店舗の投稿ページへ遷移する吹き出しを設定
					const contentString =
					        '<div class="">' +
					        '<div class="mb5"><a href="/posts/storePage/' + store.id + '" class="btn btn-sm btn-default mb5">' +
					        '店舗の投稿を見る' +
					        '</a></div>' +
					        '</div>';
					  
					// 吹き出しを表示する
					const infowindow = new google.maps.InfoWindow({
					    content: contentString,
					  });
					  
					//店舗名を表示する
				    const storeName = document.createElement("div");
				    storeName.className = "store-name";
				    storeName.textContent = store.name;
				    
				    //店舗の座標を取得
				    let storePosition = { lat: store.latitude, lng: store.longitude };
					
				 	//マーカーの設置
				 	let marker = new AdvancedMarkerElement({
					map,
					position: storePosition,
					content: storeName,
					title: store.name,
					});
					
					//クリック時に吹き出しを表示する
					marker.addListener("click", function() {
						infowindow.open({
							anchor: marker,
							map,
						})
					})
					
				});
				}
			}
			
			initMap();		
			/*]]>*/
		</script>
	</body>
</html>
