<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">	<head>
		<div th:replace="~{fragment :: meta}"></div>  

		<div th:replace="~{fragment :: styles}"></div> 
		
		<title>保存店舗</title>	
	</head>
	<body>
		<div class="oldfashioned-wrapper">
			
			<div th:replace="~{fragment :: header}"></div>
		
			<main>
				<div class="container pt-4 pb-5 oldfashioned-container">
					<div class="row justify-content-center">
						<div class="col">
							<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
								<ol class="breadcrumb mb-0">
									<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
									<li class="breadcrumb-item active" aria-current="page">保存一覧</li>
								</ol>
							</nav>
							
							<h1 class="text-center">保存店舗</h1>
							
							<table class="ta1 showpage">
								<div th:each="keep : ${keepPage}">
									<tr>
										<th th:text="${keep.getStore().getName()}"></th>
										<td th:text="${keep.getStore().getAddress()}"></td>
									</tr>
								</div>
							</table>
							
							<div th:if="${keepPage.getTotalPages() > 1}" class="d-flex justify-content-center">
								<nav aria-label="保存ページ">
									<ul class="pagination">
										<li class="page-item">
											<span th:if="${keepPage.isFirst()}" class="page-link disabled">前</span>
											<a th:unless="${keepPage.isFirst()}" th:href="@{/keeps/(page = ${keepPage.getNumber() -1})}" class="page-link oldfashioned-page-link">前</a>
										</li>
										<li th:each="i : ${#numbers.sequence(0, keepPage.getTotalPages() -1)}" class="page-item">
											<span th:if="${i == keepPage.getNumber()}" class="page-link active oldfashioned-active" th:text="${i + 1}"></span>
											<a th:unless="${i == keepPage.getNumber()}" th:href="@{/keeps(page = ${i})}" class="page-link oldfashioned-page-link" th:text="${i + 1}"></a>
										</li>
										<li class="page-item">
											<span th:if="${keepPage.isLast()}" class="page-link disabled">次</span>
											<a th:unless="${keepPage.isLast()}" th:href="@{/keeps(page = ${keepPage.getNumber() + 1})}" class="page-link oldfashioned-page-link">次</a>
										</li>
									</ul>
								</nav>
							</div> 
							
						</div>
					</div>
				</div>
			</main>
			
			<div th:replace="~{fragment :: footer}"></div>
			
		</div>
		
		<div th:replace="~{fragment :: scripts}"></div>
		
	</body>
</html>