<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">	<head>
		<div th:replace="~{fragment :: meta}"></div>  

		<div th:replace="~{fragment :: styles}"></div> 
		
		<title>マイページ</title>	
	</head>
	<body>
		<div class="oldfashioned-wrapper">
			<!-- ヘッダー -->
			<div th:replace="~{fragment :: header}"></div>
		
			<main>
				<div class="container pt-4 pb-5 oldfashioned-container">
					<div class="row justify-content-center">
						<div class="col">
							<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
								<ol class="breadcrumb mb-0">
									<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
									<li class="breadcrumb-item active" aria-current="page">マイページ</li>
								</ol>
							</nav>
							<div class="mb-4">
								<img th:if="${user.getUserPhoto() != ''}" th:src="@{${'/profile/' + user.getUserPhoto()}}" class="profile-large" alt="プロフィール画像">
								<img th:unless="${user.getUserPhoto() != ''}" th:src="@{/images/noImage.png}" class="w-20" alt="NO IMAGE">
							</div>  
														
								<table class="ta1">
									<tr>
										<th th:text="${user.getNickname()}" class="user-nickname text-center"></th>
										<td th:text="${user.getIntroduction()}" class="user-introduction"></td>
									</tr>
								</table>
																					
														<section class="blur">
																										
															<div class="list-grid1">
																<div th:each="post : ${postPage}">
																	<div class="list image-container2">
																		<a th:href="@{/posts/show/__${post.getId()}__}">
																			<figure><img th:src="@{/clothes/__${post.getPostPhoto()}__}" alt="投稿画像"></figure>
																			<div class="text2 font-bebas" th:text="${post.getName()}"></div>
																		</a>
																	</div>
																</div>
															</div>
																										
														</section>
														
														<div th:if="${postPage.getTotalPages() > 1}" class="d-flex justify-content-center">
															<nav aria-label="ユーザーページ">
																<ul class="pagination">
																	<li class="page-item">
																		<span th:if="${postPage.isFirst()}" class="page-link disabled">前</span>
																		<a th:unless="${postPage.isFirst()}" th:href="@{/posts/otherPage/__${user.getId()}__(page = ${postPage.getNumber() -1})}" class="page-link oldfashioned-page-link">前</a>
																	</li>
																	<li th:each="i : ${#numbers.sequence(0, postPage.getTotalPages() -1)}" class="page-item">
																		<span th:if="${i == postPage.getNumber()}" class="page-link active oldfashioned-active" th:text="${i + 1}"></span>
																		<a th:unless="${i == postPage.getNumber()}" th:href="@{/posts/otherPage/__${user.getId()}__(page = ${i})}" class="page-link oldfashioned-page-link" th:text="${i + 1}"></a>
																	</li>
																	<li class="page-item">
																		<span th:if="${postPage.isLast()}" class="page-link disabled">次</span>
																		<a th:unless="${postPage.isLast()}" th:href="@{/posts/otherPage/__${user.getId()}__(page = ${postPage.getNumber() + 1})}" class="page-link oldfashioned-page-link">次</a>
																	</li>
																</ul>
															</nav>
														</div> 
							
						</div>
					</div>
				</div>
				<div class="slide-bottom"></div>
			</main>
			
			<div th:replace="~{fragment :: footer}"></div>
			
		</div>
		
		<div th:replace="~{fragment :: scripts}"></div>
		
	</body>
</html>