<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>投稿詳細</title>
	</head>
	<body>
		<div class="oldfashioned-wrapper">
			<!-- ヘッダー　-->
			<div th:replace="~{fragment :: header}"></div>
			
			<main>
				
				<div class="container oldfashioned-container">
					<div class="row justify-content-center">
						<div class="col">
							<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
								<ol class="breadcrumb mb-0">
									<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
									<li class="breadcrumb-item"><a th:href="@{/posts/otherPage/__${user.getId()}__}" th:text="${user.getNickname()} + 'のページ'"></a></li>
									<li class="breadcrumb-item active" aria-current="page">投稿詳細</li>
								</ol>
							</nav>
							
							<div th:if="${#authorization.expression('hasRole(''ROLE_GENERAL'')') and self == null}" class="text-align">
								<div th:if="${likeDelete}">
									<a th:href="@{/likes/delete/__${post.getId()}__}">&#9829; いいね</a>
								</div>
								<div th:if="${likeRegister}">
									<a th:href="@{/likes/create/__${post.getId()}__}">&#9825; いいね</a>
								</div>
							</div>
							
							<table class="ta1 showpage">
								<tr>
									<th>
										<a th:href="@{/posts/otherPage/__${user.getId()}__}">
										    <img th:if="${user.getUserPhoto() != null && !user.getUserPhoto().trim().isEmpty()}" th:src="${user.getUserPhoto()}" class="oldfashioned-veriticai-card-image profile" alt="プロフィール画像">
											<img th:unless="${user.getUserPhoto() != null && !user.getUserPhoto().trim().isEmpty()}" th:src="@{/profile/noImage.png}" class="oldfashioned-veriticai-card-image profile" alt="NO IMAGE">
											<p th:text="${user.getNickname()}" class="user-nickname"></p>
										</a>
									</th>
									<td th:text="${user.getIntroduction()}" class="user-introduction"></td>
								</tr>
							</table>
							
							<div id="imagePreview" class="mb-4 image-preview"></div>
							<div class="thumbnail-container-wrapper">
							    <div class="thumbnail-container">
							        <div th:each="file : ${file}">
							            <img th:src="${file.fileUrl}" class="thumbnail" alt="購入品画像">
							        </div>
							    </div>
							</div>
							
							<table class="ta1 text-center showname">
								<tr>
									<th th:text="${post.getName()}" class="text-center"></th>
									<td th:text="${post.getContent()}" ></td>
								</tr>
								<tr>
									<th>投稿日</th>
									<td th:text="${post.getCreatedAt()}"></td>
									
								</tr>
							</table>
							
							<h2 class="d-flex justify-content-center">購入店舗</h2>
							<div id="map"></div>	
							
						</div>
					</div>
				</div>
				<div class="slide-bottom"></div>
			</main>
			
			<div th:replace="~{fragment :: footer}"></div>
			
		</div>
		
		<div th:replace="~{fragment :: scripts}"></div>
		<script type="text/javascript" th:inline="javascript">
			/*<![CDTA[*/
					var apiKey = /*[[${apiKey}]]*/'[]';
					var mapId = /*[[${mapId}]]*/'[]';
					(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
					    key: apiKey,
					    v: "week",
					});
					
					let map;
						async function initMap() {
							const { Map } = await google.maps.importLibrary("maps");
							const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
						
							var post = /*[[${post}]]*/ '{}';
							post = /*[[${post}]]*/ [];
							const store = /*[[${post.getStore()}]]*/ 0;

						    //店舗の座標
						    let coordinate = { lat: post.latitude, lng: post.longitude };
							
							//店舗の投稿ページへ遷移
							const contentString =	
							'<div class="">' +	
							'<div class="mb5"><a href="/posts/storePage/' + store.id + '" class="btn btn-sm btn-default mb5">' +	
							'店舗の投稿を見る' +	
							'</a></div>' +	
							'</div>';	
							
							const infowindow = new google.maps.InfoWindow({content: contentString,
							});

								
							//地図の描画
							map = new Map(document.getElementById("map"), {
						    center: coordinate,
						    zoom: 8,
						    mapId: mapId,
						 	});
								  
							//店舗名を表示する
						    const storeName = document.createElement("div");
						    storeName.className = "store-name";
						    storeName.textContent = store.name;
							    
						 	//マーカーの設置
						 	let marker = new AdvancedMarkerElement({
							map,
							position: coordinate,
							content: storeName,
							title: store.name,
							});
							
							//クリック時の処理
							marker.addListener("click", function() {
								infowindow.open({
									anchor: marker,
									map,
								})
							})
								
							}
						
						initMap();		
						/*]]>*/
					</script>
			<script th:src="@{/js/showPreview.js}"></script>
	</body>
</html>