<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment :: meta}"></div>
    <div th:replace="~{fragment :: styles}"></div>
    <title>トップページ</title>
</head>
<body class="home">
    <div class="oldfashioned-wrapper">
        <div th:replace="~{fragment :: header}"></div>
		<div id="menubar">
			<div class="container oldfashioned-container">
				<nav>
					<ul class="d-flex justify-content-end">
						<li><a th:href="@{/}">HOME</a></li>
						<li><a th:href="@{/search/store}">STORE</a></li>
						<li><a th:href="@{/search/user}">USER</a></li>
					</ul>
				</nav>
			</div>
		</div>
        <main>
            <div class="container oldfashined-container">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="container pt-4 pb-5">
                            <div th:if="${param.loggedIn}" class="alert alert-info">ログインしました。</div>
                            <div th:if="${successMessage}" class="alert alert-imfo">
                                <span th:text="${successMessage}"></span>
                            </div>
                        </div>
						
						<aside id="mainimg">
						
							<div class="slide slide1">
								<div>
									<h1 class="font-bebas">OLD FASHIONED</h1>
									<p>気軽に投稿して<br>古着の魅力を共有しよう。</p>
								</div>
							</div>
								
							<div class="slide slide2">
								<div>
									<h1 class="font-gruppo">OLD FASHIONED</h1>
									<p>あなたのおすすめ店を登録して<br>古着の輪を広げよう。</p>
								</div>
							</div>
								
							<div class="slide slide3">
								<div>
									<h1 class="font-monoton">OLD FASHIONED</h1>
									<p>マップで簡単に検索して<br>古着探しの旅に出よう！</p>
								</div>
							</div>
						
						</aside>
						
						<div class="bg1">
						
							<section class="blur">
							
								<h2>Category</h2>
								
								<div class="list-grid1">
									<div class="list image-container" onmouseover="playVideo(this)" onmouseout="pauseVideo(this)">
										<a th:href="@{/posts/category/1}">
											<figure><img src="images/sample3.png" alt=""></figure>
											<video th:src="@{https://old-fahioned.s3.ap-southeast-2.amazonaws.com/top-page/sample3.mp4}" muted loop></video>
											<div class="text2 font-bebas">Vintage</div>
										</a>
									</div>
									
									<div class="list image-container" onmouseover="playVideo(this)" onmouseout="pauseVideo(this)">
										<a th:href="@{/posts/category/2}">
											<figure><img src="images/sample2.png" alt=""></figure>
											<video th:src="@{https://old-fahioned.s3.ap-southeast-2.amazonaws.com/top-page/sample2.mp4}" muted loop></video>
											<div class="text2 font-gruppo">Import</div>
										</a>
									</div>
									
									<div class="list image-container" onmouseover="playVideo(this)" onmouseout="pauseVideo(this)">
										<a th:href="@{/posts/category/3}">
											<figure><img src="images/sample1.png" alt=""></figure>
											<video th:src="@{https://old-fahioned.s3.ap-southeast-2.amazonaws.com/top-page/sample1.mp4}" muted loop></video>
											<div class="text2 font-monoton">Used</div>
										</a>
									</div>
								</div>
							
							</section>
						
						</div>
						
						
						<h2>Latest Post</h2>
							
						<div class="list-post">
							<div th:each="file : ${file}">
								<div class="list up post-font">
									<a th:href="@{/posts/show/__${file.getPost().getId()}__}">
										<figure><img th:src="${file.getFileUrl()}" alt="投稿画像"></figure>
										<div class="white-box">
											<div class="text">
												<h4 th:text="${file.getPost().getName()}"></h4>
											</div>
											<p th:text="${#dates.format(file.createdAt, 'yyyy/MM/dd')}"></p>
										</div>
									</a>
								</div>
							</div>
						</div>
						
						<a th:href="@{/posts}" class="d-flex justify-content-center">投稿を全て見る</a>
						
						<!-- マップ -->
						<h2>MAP</h2>
			
		                <div id="map"></div>
						<div class="bg1 slide-bottom">
						
							<section>
							
							<h2 class="dn">ギャラリー</h2>
							
							<div class="thumbnail-slide">
								<a href="#"><img src="images/1.jpg" alt=""></a>
								<a href="#"><img src="images/2.jpg" alt=""></a>
								<a href="#"><img src="images/3.jpg" alt=""></a>
								<a href="#"><img src="images/1.jpg" alt=""></a>
								<a href="#"><img src="images/2.jpg" alt=""></a>
								<a href="#"><img src="images/3.jpg" alt=""></a>
							</div>
							
							</section>
						
						</div>
                      
										
				                    </div>
				                </div>
				            </div>
				        </main>
				        <div th:replace="~{fragment :: footer}"></div>
				    </div>
				    <div th:replace="~{fragment :: scripts}"></div>
					<script type="text/javascript" th:inline="javascript">
						/*<![CDTA[*/
						var apiKey = /*[[${apiKey}]]*/'[]';
						var mapId = /*[[${mapId}]]*/'[]';
						(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
						    key: apiKey,
						    v: "week",
						});
						
						let map;
						
						async function initMap() {
							const { Map } = await google.maps.importLibrary("maps");
							const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
						
							//現在地を取得
						    if (navigator.geolocation) {
						        navigator.geolocation.getCurrentPosition(showPosition);
						    } else {
						        alert("Geolocation is not supported by this browser.");
						    }
							
							function showPosition(position) {
							    let coordinate = {
							        lat: position.coords.latitude,
							        lng: position.coords.longitude
							    };
								
								
							//地図の描画
							map = new Map(document.getElementById("map"), {
						    center: coordinate,
						    zoom: 8,
							
						    mapId: mapId,
						 	});
							
							var stores = /*[[${store}]]*/ '[]';
							stores = /*[[${store}]]*/ [];
						 	
						 	stores.forEach(function(store) {
								//店舗の投稿ページへ遷移
								const contentString =
								        '<div class="">' +
								        '<div class="mb5"><a href="/posts/storePage/' + store.id + '" class="btn btn-sm btn-default mb5">' +
								        '店舗の投稿を見る' +
								        '</a></div>' +
								        '</div>';
								  
								const infowindow = new google.maps.InfoWindow({
								    content: contentString,
								  });
								  
								//店舗名を表示する
							    const storeName = document.createElement("div");
							    storeName.className = "store-name";
							    storeName.textContent = store.name;
							    
							    //店舗の座標
							    let storePosition = { lat: store.latitude, lng: store.longitude };
								
							 	//マーカーの設置
							 	let marker = new AdvancedMarkerElement({
								map,
								position: storePosition,
								content: storeName,
								title: store.name,
								});
								
								//クリック時の処理
								marker.addListener("click", function() {
									infowindow.open({
										anchor: marker,
										map,
									})
								})
								
							});
							}
						}
						
						initMap();		
						/*]]>*/
					</script>
</body>
</html>
