<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment :: meta}"></div>
    <div th:replace="~{fragment :: styles}"></div>
    <title>トップページ</title>
</head>
<body class="home">
    <div class="oldfashioned-wrapper">
        <div th:replace="~{fragment :: header}"></div>
		<div id="menubar">
			<div class="container oldfashioned-container">
				<nav>
					<ul class="d-flex justify-content-end">
						<li><a th:href="@{/}">HOME</a></li>
						<li><a th:href="@{/search/store}">STORE</a></li>
						<li><a th:href="@{/search/user}">USER</a></li>
					</ul>
				</nav>
			</div>
		</div>
        <main>
            <div class="container oldfashined-container">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="container pt-4 pb-5">
                            <div th:if="${param.loggedIn}" class="alert alert-info">ログインしました。</div>
                            <div th:if="${successMessage}" class="alert alert-imfo">
                                <span th:text="${successMessage}"></span>
                            </div>
                        </div>
						
						<aside id="mainimg">
						
							<div class="slide slide1">
								<div>
									<h1 class="font-bebas">OLD FASHIONED</h1>
									<p>スタイリッシュなデザインで、<br>都会の街並みに映える最新メンズファッション。</p>
									<p class="btn-border-radius"><a href="bland.html#men">もっと詳しくみる</a></p>
								</div>
							</div>
								
							<div class="slide slide2">
								<div>
									<h1 class="font-gruppo">OLD FASHIONED</h1>
									<p>洗練されたシルエットとデザインで、<br>自分らしさを際立たせるウィメンズスタイル。</p>
									<p class="btn-border-radius"><a href="bland.html#women">もっと詳しくみる</a></p>
								</div>
							</div>
								
							<div class="slide slide3">
								<div>
									<h1 class="font-monoton">OLD FASHIONED</h1>
									<p>遊び心とおしゃれが融合した、<br>子供たちのためのトレンドファッション。</p>
									<p class="btn-border-radius"><a href="bland.html#kids">もっと詳しくみる</a></p>
								</div>
							</div>
						
						</aside>
						
						<div class="bg1">
						
							<section class="blur">
							
								<h2>Category</h2>
								
								<div class="list-grid1">
									<div class="list image-container" onmouseover="playVideo(this)" onmouseout="pauseVideo(this)">
										<a href="bland.html#men">
											<figure><img src="images/sample3.png" alt=""></figure>
											<video src="images/sample3.mp4" muted loop></video>
											<div class="text2 font-bebas">Vintage</div>
										</a>
									</div>
									
									<div class="list image-container" onmouseover="playVideo(this)" onmouseout="pauseVideo(this)">
										<a href="bland.html#women">
											<figure><img src="images/sample2.png" alt=""></figure>
											<video src="images/sample2.mp4" muted loop></video>
											<div class="text2 font-gruppo">Import</div>
										</a>
									</div>
									
									<div class="list image-container" onmouseover="playVideo(this)" onmouseout="pauseVideo(this)">
										<a href="bland.html#kids">
											<figure><img src="images/sample1.png" alt=""></figure>
											<video src="images/sample1.mp4" muted loop></video>
											<div class="text2 font-monoton">Used</div>
										</a>
									</div>
								</div>
							
							</section>
						
						</div>
						
						<section class="blur">
						
							<h2>Latest Post</h2>
							
							<div class="list-grid1">
								<div th:each="post : ${postPage}">
									<div class="list image-container2">
										<a th:href="@{/posts/__${post.getId()}__}">
										<figure><img th:src="@{clothes/__${post.getPostPhoto()}__}" alt="投稿画像"></figure>
										<div class="text2 font-bebas" th:text="${post.getName()}"></div>
										</a>
									</div>
								</div>
							</div>
						
						</section>
						
						<a th:href="@{/search/post}" class="d-flex justify-content-center">投稿一覧</a>
						
						<div class="bg1">
						
							<section>
							
							<h2 class="dn">ギャラリー</h2>
							
							<div class="thumbnail-slide">
								<a href="#"><img src="images/1.jpg" alt=""></a>
								<a href="#"><img src="images/2.jpg" alt=""></a>
								<a href="#"><img src="images/3.jpg" alt=""></a>
								<a href="#"><img src="images/1.jpg" alt=""></a>
								<a href="#"><img src="images/2.jpg" alt=""></a>
								<a href="#"><img src="images/3.jpg" alt=""></a>
							</div>
							
							</section>
						
						</div>
                      
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="~{fragment :: footer}"></div>
    </div>
    <div th:replace="~{fragment :: scripts}"></div>
</body>
</html>
